<div class="wrapper">
  <kendo-tilelayout [columns]="3" [reorderable]="true" [resizable]="true" (reorder)="onReorder($event)"
    (resize)="onResize($event)">
    <kendo-tilelayout-item title="Title 1" [col]="1">
      <kendo-tilelayout-item-body>
        Content 1
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Title 2" [col]="2">
      <kendo-tilelayout-item-body>
        Content 2
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Title 3" [col]="3">
      <kendo-tilelayout-item-body>
        Content 3
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Title 4" [col]="1">
      <kendo-tilelayout-item-body>
        Content 4
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Title 5" [col]="2">
      <kendo-tilelayout-item-body>
        Content 5
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Title 6" [col]="3">
      <kendo-tilelayout-item-body>
        Content 6
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
  </kendo-tilelayout>
</div>
