<!-- most simple tilelayout -->
<!-- <kendo-tilelayout [columns]="3" [reorderable]="true" [resizable]="true">
  <kendo-tilelayout-item title="Title 1" [col]="1">
    <kendo-tilelayout-item-body>
      Content 1
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="Title 2" [col]="2">
    <kendo-tilelayout-item-body>
      Content 2
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="Title 3" [col]="3">
    <kendo-tilelayout-item-body>
      Content 3
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
</kendo-tilelayout> -->


<!-- populating the tilelayout with pony cards -->
<!-- <kendo-tilelayout [columns]="3">
  <kendo-tilelayout-item [col]="i % 3 + 1" *ngFor="let hero of heroes; let i = index" [order]="i">
    <kendo-tilelayout-item-header></kendo-tilelayout-item-header>
    <kendo-tilelayout-item-body>
      <hero-card [hero]="hero"></hero-card>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
</kendo-tilelayout> -->

<!-- the fix -->
<!-- <div class="tilelayout-wrapper">
  <kendo-tilelayout [columns]="2" [reorderable]="true">
    <kendo-tilelayout-item *ngFor="let hero of heroes; let i = index" [col]="i % 3 + 1" [order]="i">
      <kendo-tilelayout-item-header> -->
        <!-- figure out if item-header is actually needed, yo -->
        <!-- <p>{{hero.name}}</p>
        <p>{{hero.id}}</p>
      </kendo-tilelayout-item-header>
      <kendo-tilelayout-item-body>
        <hero-card [hero]="hero"></hero-card>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
  </kendo-tilelayout>
</div> -->



<!-- get this working -->
<!-- fix OG pony cards -->
<!-- create simplier steps -->
<!-- add multicolumndropdown thingy -->
<!-- add listview to details page for pony info -->
<!-- show off inline editing -->
<!-- OR use text area on pony detail page -->

<!-- the fix phase 2.0 -->
<div class="tilelayout-wrapper">
  <kendo-tilelayout [columns]="3" [reorderable]="true">
    <kendo-tilelayout-item *ngFor="let hero of heroes; let i = index" [col]="i % 3 + 1" [order]="i">
      <kendo-tilelayout-item-header>
        <h3 kendoCardTitle>{{ hero.name }}</h3>
        <p kendoCardSubtitle>{{ hero.alias }} from {{ hero.residence | ellipsis:30 }}</p>
      </kendo-tilelayout-item-header>
      <kendo-tilelayout-item-body>
        <img class="hero-avatar" src="../assets/images/retro-mlp/{{hero.largeAvatar}}" [alt]="hero.name" />
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
  </kendo-tilelayout>
</div>

