:host {
  margin-bottom: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.k-listview {
    font-family: sans-serif;
    height: 340px;
}
.product {
    padding: 8px;
    width: 100%;
}
.product-name {
    margin: 0 4px;
}
.item-postion {
    font-style: italic;
}
.product.border-bottom {
    border-bottom-width: 1px;
    border-bottom-color: lightgrey;
}

/* ListView Styles */

.pony {
  padding: 10px;
  border-bottom: solid 2px lightgrey;
}

.pony-name {
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  font-weight: 600;
}

.pony-alias, .item-position {
  font-size: 12px;
  font-style: italic;
}

.item-position {
  font-weight: 600;
}

// ListView Header & Footer Styles

.header, .footer {
    display: flex;
    padding: 12px;
}

.title {
    flex-grow: 1;
    font-size: 22px;
    color: lightgrey;
}

.footer .title {
  text-align: center;
  font-size: 12px;
  font-style: italic;
}