/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.k-expander {
  max-width: 80vw;
}

.pony-avatar {
  max-width: 200px;
}

.pony-images {
  display: flex;
  justify-content: space-between;
  padding: 0;

  li {
    list-style-type: none;
  }

  li img {
    max-width: 200px
  }
}

// FOR EXPANSION PANEL DEMO
.mouth-closed:before {
  content: "👁️👄👁️";
  font-size: 14px;
}

.mouth-open:before {
  content: "👁️👅👁️";
  font-size: 14px;
}