<section class="skeleton-section" *ngIf="!hero">
  <div class="skeleton-header">
    <kendo-skeleton shape="text" animation="pulse" [width]="250" [height]="70"></kendo-skeleton>
    <h2 data-text="Details"> Details</h2>
  </div>
  <article class="hero-details">
    <ul class="hero-info">
      <li>
        <label class="pony-edit-field inline">Pony Name:
          <kendo-skeleton shape="text" animation="pulse" [width]="156" [height]="32"></kendo-skeleton>
        </label>
      </li>
      <li>
        Pony ID:
        <kendo-skeleton shape="text" animation="wave" [width]="50" [height]="23"></kendo-skeleton>
      </li>
      <li>
        Residence:
        <kendo-skeleton shape="text" animation="wave" [width]="150" [height]="23"></kendo-skeleton>
      </li>
      <li>
        Alias:
        <kendo-skeleton shape="text" animation="wave" [width]="200" [height]="23"></kendo-skeleton>
      </li>
      <li>
        Sex:
        <kendo-skeleton shape="text" animation="wave" [width]="250" [height]="23"></kendo-skeleton>
      </li>
      <li>
        <p>
          Occupation:
          <kendo-skeleton shape="text" animation="pulse" [width]="682" [height]="23"></kendo-skeleton>
          <kendo-skeleton shape="text" animation="pulse" [width]="682" [height]="23"></kendo-skeleton>
          <kendo-skeleton shape="text" animation="pulse" [width]="682" [height]="23"></kendo-skeleton>
        </p>
      </li>
    </ul>
    <kendo-skeleton class="hero-avatar" shape="circle" animation="wave"></kendo-skeleton>
  </article>
  <ul class="pony-images">
    <li>
      <kendo-skeleton shape="rectangle" animation="pulse" [width]="200" [height]="170"></kendo-skeleton>
    </li>
    <li>
      <kendo-skeleton shape="rectangle" animation="pulse" [width]="200" [height]="170"></kendo-skeleton>
    </li>
    <li>
      <kendo-skeleton shape="rectangle" animation="pulse" [width]="200" [height]="170"></kendo-skeleton>
    </li>
  </ul>
</section>
<section *ngIf="hero">
  <h2 [attr.data-text]="hero.name + ' Details'">{{hero.name}} Details</h2>
  <article class="hero-details">
    <ul class="hero-info">
      <li>
        <label class="pony-edit-field">Pony Name:
          <input [(ngModel)]="hero.name" placeholder="name" />
        </label>
      </li>
      <li>
        <label>Pony ID:</label> {{ hero.id }}
      </li>
      <li *ngIf="hero.residence">
        <label>Residence:</label> {{hero.residence}}
      </li>
      <li *ngIf="hero.alias">
        <label>Alias:</label> {{hero.alias}}
      </li>
      <li *ngIf="hero.sex">
        <label>Sex:</label> {{hero.sex}}
      </li>
      <li *ngIf="hero.occupation" style="white-space: pre-line;">
        <label>Occupation:</label> 
        <p>{{hero.occupation}}</p>
      </li>
    </ul>
    <img *ngIf="hero.largeAvatar" class="hero-avatar" src="assets/images/retro-mlp/{{hero.largeAvatar}}" alt="{{hero.name}}">
  </article>
    <!-- <p>{{hero | json}}</p> -->
    <ul class="pony-images">
      <li *ngFor="let img of hero.images">
        <img src="{{img}}" alt="hero.name">
      </li>
    </ul>
</section>

<!-- Todo - build out this editor for hero edits -->
<section *ngIf="hero">
  <kendo-editor [value]="hero.name" [applyToWord]="true" style="height: 200px;">
  </kendo-editor>
</section>
<!-- super simple expansion panel -->
<!-- <kendo-expansionpanel [title]="hero.name" [subtitle]="hero.kind" [expanded]="true">
  <p>content..</p>
</kendo-expansionpanel> -->

<!-- adding in our pony details to our expansion panel -->

<!-- <kendo-expansionpanel [title]="hero.name" [subtitle]="hero.kind" expandIcon="mouth-closed" collapseIcon="mouth-open">
  <p>Residence: {{hero.residence}}</p>
  <p>Alias: {{hero.alias}}</p>
  <p>Sex: {{hero.sex}}</p>
  <img *ngIf="hero.avatar" class="pony-avatar" src="assets/images/retro-mlp/{{hero.avatar}}" alt="{{hero.name}}">
  <p>Occupation: {{hero.occupation | json}}</p>
  <p>{{hero | json}}</p> COMMENT ME OUT, YUH
  <ul class="pony-images">
    <li *ngFor="let img of hero.image">
      <img src="{{img}}" alt="hero.name">
    </li>
  </ul>
</kendo-expansionpanel> -->

  <!-- expansion panel with custom icons -->
  <!-- expandIcon="mouth-closed" collapseIcon="mouth-open" -->
<nav class="bottom-nav">
  <button (click)="goBack()">Go Back</button>
  <button (click)="save()">Save</button>
</nav>
