<section>
  <h2>NO HERO FOR YOU</h2>
  <h2>Hero Details</h2>
  <kendo-skeleton shape="rectangle" animation="pulse" [width]="500" [height]="400"></kendo-skeleton>
</section>

<section *ngIf="hero">
  <h2 [attr.data-text]="hero.name + ' Details'">{{hero.name}} Details</h2>
  <article class="hero-details">

    <ul class="hero-info">
      <li>Residence: {{hero.residence}}</li>
      <li>Alias: {{hero.alias}}</li>
      <li>Sex: {{hero.sex}}</li>
    </ul>
    <img *ngIf="hero.avatar" class="hero-avatar" src="assets/images/retro-mlp/{{hero.avatar}}" alt="{{hero.name}}">

  </article>

  <p>Occupation: {{hero.occupation | json}}</p>
  <!-- <p>{{hero | json}}</p> -->
  <ul class="pony-images">
    <li *ngFor="let img of hero.image">
      <img src="{{img}}" alt="hero.name">
    </li>
  </ul>
</section>

<section *ngIf="hero" class="edit-hero">
  <hr>

  <div><span>id: </span>{{hero.id}}</div>
  <!-- <div><span>info: </span>{{hero | json}}</div> -->

  <div>
    <h3>Edit the hero</h3>
    <label>Hero Name:
      <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
  </div>
</section>

<!-- super simple expansion panel -->
<!-- <kendo-expansionpanel [title]="hero.name" [subtitle]="hero.kind" [expanded]="true">
  <p>content..</p>
</kendo-expansionpanel> -->

<!-- adding in our pony details to our expansion panel -->

<!-- <kendo-expansionpanel [title]="hero.name" [subtitle]="hero.kind" expandIcon="mouth-closed" collapseIcon="mouth-open">
  <p>Residence: {{hero.residence}}</p>
  <p>Alias: {{hero.alias}}</p>
  <p>Sex: {{hero.sex}}</p>
  <img *ngIf="hero.avatar" class="pony-avatar" src="assets/images/retro-mlp/{{hero.avatar}}" alt="{{hero.name}}">
  <p>Occupation: {{hero.occupation | json}}</p>
  <p>{{hero | json}}</p> COMMENT ME OUT, YUH
  <ul class="pony-images">
    <li *ngFor="let img of hero.image">
      <img src="{{img}}" alt="hero.name">
    </li>
  </ul>
</kendo-expansionpanel> -->

  <!-- expansion panel with custom icons -->
  <!-- expandIcon="mouth-closed" collapseIcon="mouth-open" -->
<button (click)="goBack()">Go Back</button>
<button (click)="save()">Save</button>