<!-- Have a plain-Jane ListView  plain-listview-->


<!-- Add on more info to ListView fancy-listview-->


<!-- Add Header & Footer header-footer-listview-->


<!-- Pageable, you say? pageable-listview-->


<!-- Add a simple Search to ListView simple-search-listview-->


<!-- *** Adnorments for fancy a TextBox adnornments-search.. -->
<!-- https://www.telerik.com/kendo-angular-ui-develop/components/inputs/textbox/adornments/ -->


<!-- But what about our other ponnies list? Can we put these inside the Kendo ListView?? custom-listview-->


<!-- B B B BADGES! Queue Indicators FTW  -->
<!-- replace img with badge-container -->
<!-- https://www.telerik.com/kendo-angular-ui-develop/components/indicators/badge/appearance/ -->


<!-- add a loader for slower data ;) -->
<!-- DELAY SET IN APP.MODULE, YUH -->

<!-- *** Icons Icons Everywhere -->
