<aside>
  <h1>Latest Kendo UI Version</h1>
  <h2>R2 2021 Release</h2>
  <kendo-card>
    <kendo-card-header>
      <h3>Skeleton Component</h3>
      <p class="additional-info">Indicators › Skeleton</p>
    </kendo-card-header>
    <kendo-card-body>
      <code>npm i @progress/kendo-angular-indicators&nbsp;</code>
      <p>The Skeleton component helps developers to speed up the initial page load time by displaying a simplified preview of the content. This preview acts as a placeholder for the content while it loads. At the same time, the user will get a general idea about what will appear on the page.</p>
      <hr kendoCardSeparator />
      <kendo-skeleton shape="rectangle" [width]="500" [height]="300"></kendo-skeleton>
    </kendo-card-body>
  </kendo-card>
</aside>