<app-hero-search></app-hero-search>

<kendo-expansionpanel title="Title that should be styled??" subtitle="Subtitle that should be next to expand icon??" [expanded]="true">
  <h2>EXPANSION PANEL CONTENT</h2>
</kendo-expansionpanel>

<!-- expansion panel with custom icons -->
<!-- 
<kendo-expansionpanel title="Pinkie Pie" subtitle="Inspirational quote" [expanded]="true" expandIcon="mouth-closed"
  collapseIcon="mouth-open">
  "And he made it rain delicious chocolate milk without a dollop of whipped cream to go with it! NOT A SINGLE DOLLOP!!!"
  — Pinkie Pie
</kendo-expansionpanel> -->

<!-- expansion panel with tile layout with kendo cards inside -->
<kendo-expansionpanel [expanded]="true">
  <ng-template kendoExpansionPanelTitleDirective>
    <h2 data-text="The Mane Six">The Mane Six</h2>
  </ng-template>

  <tile-layout></tile-layout>
</kendo-expansionpanel>

<!-- expansion panel with kendo cards inside -->
<!-- <kendo-expansionpanel [expanded]="true">
  <ng-template kendoExpansionPanelTitleDirective>
    <h2 data-text="Top Heroes">Top Heroes</h2>
  </ng-template>

  <div class="cards-wrapper">
    <hero-card *ngFor="let hero of heroes" [hero]="hero"></hero-card>
  </div>
</kendo-expansionpanel>
 -->
