<app-hero-search></app-hero-search>

<!-- expansion panel with tile layout with kendo cards inside -->
<kendo-expansionpanel [expanded]="true">
  <ng-template kendoExpansionPanelTitleDirective>
    <h2 data-text="The Mane Six">The Mane Six</h2>
    <p>Organize your favorites!</p>
  </ng-template>

  <tile-layout></tile-layout>
</kendo-expansionpanel>

<!-- expansion panel with custom title 💥 -->
<!-- <kendo-expansionpanel [expanded]="true">
  <ng-template kendoExpansionPanelTitleDirective>
    <h2 data-text="Top Heroes">Top Heroes</h2>
  </ng-template>

  <div class="cards-wrapper">
    <hero-card *ngFor="let hero of heroes" [hero]="hero"></hero-card>
  </div>
</kendo-expansionpanel>
 -->
