.search-component {
  display: flex;
  gap: 20px;
  
  @media (max-width: 670px) {
    flex-direction: column;
  }
}

// clean it up, yo
label {
  margin-right: 20px;
}

kendo-multicolumncombobox {
    width: 200px;
}
.contact-image {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
}

.search-box {
  flex: 1;
}